.aboutus {
    font-size: 20px;
    margin-top: 50px;
}
.Feautes {
    margin-top: 50px;
}
.contact-us {
    margin-top: -100px;
}
.why-choose-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.appointment {
    margin-top: -60px;
}